.symbol {
  background: #dddd;
  border-radius: 100%;
  height: 46px;
  left: 671px;
  top: 321px;
  width: 46px;
}

.symbolCorrect {
  background: #2fc18c;
  border-radius: 100%;
  height: 46px;
  left: 671px;
  top: 321px;
  width: 46px;
}

.symbolIncorrect {
  background: #ea5d5d;
  border-radius: 100%;
  height: 46px;
  left: 671px;
  top: 321px;
  width: 46px;
}

.option {
  background: white;
  border: 1px solid white;
  border-radius: 100px;
  box-sizing: border-box;
  height: 64px;
  left: 661px;
  position: absolute;
  top: 228px;
  width: 519px;
}

.optionCorrect {
  border: 3px solid rgb(6, 240, 15);
  box-shadow: #2fc18c 0 5px 40px 0;
}

.optionIncorrect {
  border: 3px solid red;
  box-shadow: #ea5d5d 0 5px 40px 0;
}
