.icon-settings {
  background: #3c1b7a;
  border: 6px solid #2fc18c;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) , inset 0 4px 35px #1f0e3f;
  display: flex;
  flex-direction: column;
  height: 180px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 30px;
  width: 180px;
}

.settings {
  display: flex;
}

.settings-conteiner {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 360px;
  margin: auto;
  width: 500px;
}

.settings-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.12em;
  margin: auto;
  margin-bottom: 26px;
  margin-top: 40px;
  text-transform: uppercase;
}

.settings-selection {
  display: flex;
  flex-direction: column;
  margin-top: 15;
}

.settings-select {
  background: white;
  border: 1px solid rgba(147, 147, 147, 0.48);
  border-radius: 0;
  color: gray;
  height: 40px;
  margin: auto;
  margin-bottom: 15px;
  width: 400px;
}

.save-button {
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  margin: auto;
  margin-top: 0;
  width: 410px;
}
